body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

h2 {
  margin-top: 50px;
}

.charts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chart {
  flex: 0 1 700px;
}

table {
  margin: auto;
  font-size: 12px;
}

th, td {
  padding: 10px;
  /* text-align: left; */
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
  background-color: rgb(50, 115, 220);
  color: white;
}